.layout {
    min-height: 100vh;
    background-color: transparent;
}

.layout-container {
    display: flex;
}

.layout-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
    width: 100%;
}

@media (min-width: 1024px) {
    .layout-main-shifted {
        margin-left: 260px;
    }
}

.layout-content {
    flex: 1;
    max-width: 1536px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 50px;
}